<!-- // Name : Sahil Tankaria
// Student ID : 100867174
// Date: April 18,2024 -->
<h1>This is Lab 4</h1>
<h2>Animal forms</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem labore aspernatur mollitia non praesentium tempora corporis, nulla saepe obcaecati ducimus perferendis unde velit placeat commodi. Repellat debitis accusamus facere nobis.</p>