‹%- include( 'partials/header.ejs') %›
‹main>
< div class="container">
‹ table class = "table table-striped"›
< thead>
‹% for (let animal of animals) {%›
くさい＞
＜td＞
‹%= animal. name %›
</td>
<td>
</td>
<td>
</td>
</tr>
%› }
</thead>
</table>
</div>
</main>
I
<%= animal.legs %› legs
• %= animal.heads %› heads
<%- include('partials/footer.ejs') %›