<%- include('../partials/header.ejs') %>

<div class="container">
    <h1>Add an animal in the database.</h1>
    <form action="/api/animals" method="post">
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
<%- include('./partials/footer.ejs') %>
